dankware
mcstatus
packaging
psutil
pyminizip
pypresence
python-dateutil
requests
rich
win11toast
translatepy
playsound==1.2.2
numpy
python-socketio[client]
websocket-client
git+https://github.com/pokepetter/ursina
perlin-noise
pillow